<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/css/font-awesome.min.css">


    <title>Reasonableness of Image Captions</title>
  </head>
  <body>

    <div class="container">
        <h1>Reasonableness of Vehicle Actions</h1>

        <form id="image_form" action="#">
        <div class="row mb-3">
            <div class="col-md-12">
                <div class="media">
                    <div id="image_container" class="mr-3 border" style="width:200px;height:200px">
                        <img id="the_image" src="static/img/car_at_red.jpg" style="width:100%;height:100%" />
                    </div>
                    <div class="media-body">
                      <div class="row">
                          <div class="col-md-4 mb-2">
                              <div class="card">
                                <div class="card-header pt-2 pb-2">
                                  Vehicle Perception
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lightColor" id="lightColorRed" value="red" checked>
                                        <label class="form-check-label" for="lightColorRed">Red</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lightColor" id="lightColorYellow" value="yellow">
                                        <label class="form-check-label" for="lightColorYellow">Yellow</label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="lightColor" id="lightColorGreen" value="green">
                                        <label class="form-check-label" for="lightColorGreen">Green</label>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="pedestrian" id="pedestrianCheck" value="option1">
                                        <label class="form-check-label" for="pedestrianCheck">Pedestrian</label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-4 mb-2">
                              <div class="card">
                                <div class="card-header pt-2 pb-2">
                                  Driving Tactics
                                </div>
                                <div class="card-body">
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="intent" id="intentWait" value="waits" checked>
                                    <label class="form-check-label" for="intentWait">Wait</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="intent" id="intentGoForward" value="goes">
                                    <label class="form-check-label" for="intentGoForward">Go forward</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="intent" id="intentGoRight" value="turns">
                                    <label class="form-check-label" for="intentGoRight">Go right</label>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-4 mb-2">
                              <div class="card">
                                <div class="card-header pt-2 pb-2">
                                  Vehicle State
                                </div>
                                <div class="card-body">
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="vehicleState" id="vehicleStateStopped" value="option1" disabled>
                                    <label class="form-check-label" for="inlineRadio1">Stopped</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="vehicleState" id="vehicleStateSlow" value="option2" disabled>
                                    <label class="form-check-label" for="inlineRadio2">Moving slowly</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="vehicleState" id="vehicleStateFast" value="option3" disabled>
                                    <label class="form-check-label" for="inlineRadio3">Moving quickly</label>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="submit" class="form-control" id="generate_button" value="Generate Description">
                                <span id="captioning_badge" class="fa fa-fw fa-2x fa-cog fa-spin"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>


        <div class="row mb-3">
            <div class="col-md-12">
                <input id="caption_container" class="form-control" placeholder="Some caption..."/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 offset-md-4">
                <button class="form-control" id="evaluate_button">Reasonable?</button>
            </div>
            <div class="col-md-4">
                <span id="loading_badge" class="fa fa-fw fa-2x fa-cog fa-spin"></span>
                <span id="reasonable_badge" class="fa fa-fw fa-2x fa-check"></span>
                <span id="unreasonable_badge" class="fa fa-fw fa-2x fa-times"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <textarea class="form-control" id="log" rows="10">
                </textarea>
            </div>
        </div>

    </div>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/lodash.min.js"></script>

    <script type="text/javascript">

    $('#loading_badge').hide();
    $('#captioning_badge').hide();
    $('#reasonable_badge').hide();
    $('#unreasonable_badge').hide();

    var f1 = function(e){
      e.preventDefault();
      $('#reasonable_badge').hide();
      $('#unreasonable_badge').hide();
      $('#log').val('');
      $('#captioning_badge').show();
      window.setTimeout(function(){
        $('#captioning_badge').hide();

        let lightColor = document.getElementById('image_form').elements['lightColor'].value;

        let intent = document.getElementById('image_form').elements['intent'].value;

        let pedestrian = '';
        if($('#pedestrianCheck').prop('checked'))
        {
          pedestrian = ' with a pedestrian';
        }

        $('#caption_container').val(`The vehicle ${intent} at a ${lightColor} light${pedestrian}`);
      }, 1000);


    };
/*
    var f2 = function(e){
      e.preventDefault();
      $('#reasonable_badge').hide();
      $('#unreasonable_badge').hide();
      $('#log').val('');
      $('#captioning_badge').show();
      window.setTimeout(function(){
        $('#captioning_badge').hide();
        $('#caption_container').val('a mailbox crossing the street in a hurricane');
      }, 1000);

    };

    var f3 = function(e){
      e.preventDefault();
      $('#reasonable_badge').hide();
      $('#unreasonable_badge').hide();
      $('#log').val('');
      $('#captioning_badge').show();
      window.setTimeout(function(){
        $('#captioning_badge').hide();
        $('#caption_container').val('a penguin crossing the street with penguins');
      }, 1000);
    };
*/
    $('#image_form').submit(f1);
/*
    var g2 = function(e){
      e.preventDefault();
      $('#reasonable_badge').hide();
      $('#unreasonable_badge').hide();
      $('#log').val('');
      $('#the_image').attr('src', 'static/img/penguins_walking.jpg');
      $('#image_container').off('click').click(g3);
      $('#image_form').off('submit').submit(f3);
    };

    var g1 = function(e){
      e.preventDefault();
      $('#reasonable_badge').hide();
      $('#unreasonable_badge').hide();
      $('#log').val('');
      $('#the_image').attr('src', 'static/img/mailbox_cross_street.jpeg');
      $('#image_container').off('click').click(g2);
      $('#image_form').off('submit').submit(f2);
    };

    var g3 = function(e){
      e.preventDefault();
      $('#reasonable_badge').hide();
      $('#unreasonable_badge').hide();
      $('#log').val('');
      $('#the_image').attr('src', 'static/img/mailbox_cross_street.jpeg');
      $('#image_container').off('click').click(g1);
      $('#image_form').off('submit').submit(f1);
    };

    $('#image_container').click(g1);
*/

    $('#lightColorRed').click(function(e){
      $('#the_image').attr('src', 'static/img/car_at_red.jpg');
    });
    $('#lightColorYellow').click(function(e){
      $('#the_image').attr('src', 'static/img/car_at_yellow.jpg');
    });
    $('#lightColorGreen').click(function(e){
      $('#the_image').attr('src', 'static/img/car_at_green.jpg');
    });


    $('#evaluate_button').click(function(e){
      e.preventDefault();

      $('#reasonable_badge').hide();
      $('#unreasonable_badge').hide();
      $('#loading_badge').show();

      $.post({
        url: '/api/1/evaluate',
        data: JSON.stringify({
          caption: $('#caption_container').val()
        }),
        contentType: 'application/json',
        success: function(data, textStatus, jqXHR){
          $('#loading_badge').hide();
          if(data.reasonable)
          {
            $('#reasonable_badge').show();

            let t = "This perception is REASONABLE\n=======================\n";
            _.forEach(data.support, function(s){
              t += s + "\n";
            })

            t += "So it is reasonable for " + data.caption_summary;

            $('#log').val(t);
          }
          else
          {
            $('#unreasonable_badge').show();

            let t = "This perception is UNREASONABLE\n=======================\n";
            _.forEach(data.violations, function(s){
              t += s + "\n";
            })

            t += "So it is unreasonable for " + data.caption_summary;

            $('#log').val(t);
          }
        },
        error: function(jqxhr, textStatus, errorThrown){
          $('#loading_badge').hide();

          let t = `Error trying to evaluate: ${textStatus}\n\n${errorThrown}`;
          $('#log').val(t);
        },
      })
    })

    $('#image_upload').change(function(e){
      if (this.files && this.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#the_image').attr('src', e.target.result);
          };

          reader.readAsDataURL(this.files[0]);

          $('#image_container').off('click');

          $('#image_form').off('submit').submit(function(e){
            e.preventDefault();
            // $('#caption_container').val('a mailbox crossing the street');

            $('#reasonable_badge').hide();
            $('#unreasonable_badge').hide();
            $('#caption_container').val('');
            $('#log').val('');

            $('#captioning_badge').show();

            $.post({
              url: '/api/1/caption',
              data: new FormData(this),
              processData: false,
              contentType: false,
              success: function(data, textStatus, jqXHR){
                $('#captioning_badge').hide();

                $('#caption_container').val(data.caption);
              },
              error: function(jqxhr, textStatus, errorThrown){
                $('#captioning_badge').hide();

                let t = `Error trying to evaluate: ${textStatus}\n\n${errorThrown}`;
                $('#caption_container').val(t);
              },
            })

          })
      }
    })

    </script>

  </body>
</html>
